.dashboard_layouts {
  display: flex;
  height: 100vh;
}

/* Left Sidebar */
.sidebar_wrappers {
  width: 260px;
  /* background: #0f172a; */
}

/* Right Content Area */
.content_wrappers {
  flex: 1;
  padding: 20px;
  background: #f1f5f9;
  overflow-y: auto;
}

.content-Containers{
    background-color:white;
    height:65vh;
    /* padding:1rem; */
    border:1px solid #dde1e6;
    border-radius:0.4rem;
    /* padding:4rem 0 0 0 ; */
    box-shadow: 0 5px 5px 5px #f1f5f9;
    margin-top: 3.5rem;
}
.content-heading-sections {
    border-bottom:1px solid #d6d9dd;
    background-color:whitesmoke;
    height:70px;
    text-align:left;
    padding:1rem;
}
.form_cards{
     box-shadow: 0 5px 5px 5px #f1f5f9;
     border:1px solid #dde1e6;
    border-radius:0.4rem;
    /* padding:1rem; */
}
.section_forms{
    border-bottom:1px solid #d6d9dd;
    background-color:whitesmoke;
    height:70px;
    text-align:left;
    padding:1rem;
}


.ql-containers {
  min-height: 140px;
}

.ql-editors {
  min-height: 100px;
}

.ql-toolbars {
  border-radius: 6px 6px 0 0;
}

.ql-containers {
  border-radius: 0 0 6px 6px;
}
