


/* manu items */
/* Sidebar Container */
.sidebar_lefts {
  width: 230px;
  height: 100vh;
  background: #FFFFFF; 
  /* color: white; */
  padding: 2.5rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-right: 1px solid rgba(255,255,255,0.08);
}

/* Logo */
.sidebar_logos img {
  width: 140px;
  height: auto;
  background-color: #ffffff;
  border-radius: 1rem;
  column-gap: 1rem;
  justify-content: space-between;
  margin-top: 1rem;
}

/* Title */
.sidebar_titles {
  font-size: 1.2rem;
  font-weight: 600;
  /* padding:0 0.5rem; */
  /* text-align: left; */
display: flex;
column-gap: 1rem;
/* margin-left: 0.8rem; */
   padding: 10px 13px;

  /* color: #e2e8f0; */
  /* margin:1.5rem 0 1.5rem 0.8rem; */
}
.sidebar_titles:hover{
  background-color: #3b82f6;
  color:white;
    border-radius: 10px;
  cursor: pointer;
}
/* Menu container */
.sidebar_menu_lists {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
}

/* Menu Item */
.menu_items {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  gap: 10px;
  /* color: #0000; */
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: 0.2s ease;
  font-size: 0.95rem;
}

/* Hover Effect */
.menu_items:hover {
  background: #3b82f6;
  color:white;
}

/* Active NavLink */
.menu_items.active {
  background: #3b82f6;
  color: white !important;
}
hr{
  height: 1rem ;
  color: #c4c4c4;
}
/* Dropdown Header */
/* .dropdown_header {
  justify-content: space-between;
} */

/* Arrow animation */
.arrows {
  transition: transform 0.25s ease;
}

.arrows.rotate {
  transform: rotate(90deg);
}

/* Dropdown box */
.dropdowns {
  height: 0;
  overflow: hidden;
  padding-left: 10px;
  transition: height 0.3s ease;
}

/* Open state */
.dropdowns.open {
  height: 180px; /* adjust as needed */
}

/* Dropdown items */
.dropdown_items {
  display: block;

  padding: 10px 10px;
  margin: 3px 0;
  border-radius: 10px;
    text-decoration: none;
  color: inherit;
  transition: 0.2s ease;
  font-size: 0.9rem;
text-align: left;
}

.dropdown_items:hover {
  background: rgba(255, 255, 255, 0.12);
}

/* Active dropdown link */
.dropdown_items.active {
  background: #3b82f6;
  color: white;
}



/* sidebar manu  */

